body {
  padding: 0;
  margin: 0;
}

* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}


.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #181818;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


.nav {
  background-color: #2d4159;
  display: flex;
}

.content-nav-01, 
.content-nav-03  {
  background-color: #ff6a00;
  flex: 1;
}
.content-nav-02 {
  background-color: #ff6a00;
  flex: 4;
}


.slider{
    background-color: #ffa500;
}

.title{
    background-color: #ffd000;
}


.main {
  background-color: #181818;
  display: flex;
}

.content{
  background-color: #2d4159;
  flex: 2;
  display: flex;
  flex-flow: row wrap;
}

.article {
  background-color: #5678a3;
  flex: 1 1 40%;
}

.content-text{
  background-color: #3b90f8;
  flex: 1 1 100%;
}

.aside{
  background-color: #f73e51;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}
.text-aside, 
.text-aside2 {
  background-color: #feea84;
}

.footer{
  background-color: #181818;
}

.content-footer{
  background-color: #e2ba09;
}


/* small devices  */
@media screen and (max-width:480px) {
  
  .nav {
    background-color: #2d4159;
    flex-direction: column;
  }
  .content-nav-01, 
  .content-nav-02,
  .content-nav-03{
  background-color: #ea5556;
}
  .main{
    flex-direction: column;
  }
  .content{
    background-color: #0a506f;
    flex-direction: column;
  }
  .article{
    background-color:#61959c;
  }
  .content-text{
  background-color:#a3ddcb;
  flex: 1;
  }
  .aside{
    background-color: #fc7b54;
  }
  .text-aside,
  .text-aside2 {
  background-color: #fdb36b;
  }

} 

/* Landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main{
    background: rgb(246, 255, 0);
    flex-direction: column;
  }
} 
